table {
    background: white;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #0865c2;
    border-right: 1px solid #0865c2;
    border-top: 1px solid #0865c2;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 14px;
    max-width: 70%;
    text-align: left;
    width: 70%;
}

th {
    color: #039;
    font-weight: normal;
    padding: 10px 15px;
}

td {
    border-top: 1px solid #e8edff;
    color: #669;
    padding: 10px 15px;
}

tr:nth-child(2n) {
    background: #e8edff;
}
