.textarea{
    height:250px;
    max-height:150px;
    max-width:470px;
    min-height:150px;
    min-width:470px;
    text-align: left;
    width: 470px;
}
.textarea-border {
    border: solid #0865c2;
    text-align: center;
}
.price{
    color: black;
}
